/* src/index.css */
/* Reset browser defaults so our styling is consistent across browsers */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #13131f;
  color: #f1f1f1;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}